[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vendor/powerlevel10k"]
	path = vendor/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vendor/zsh-autosuggestions"]
	path = vendor/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vendor/zsh-syntax-highlighting"]
	path = vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vendor/nvim-plugins/vim-commentary"]
	path = vendor/nvim-plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vendor/nvim-plugins/vim-surround"]
	path = vendor/nvim-plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vendor/nvim-plugins/vim-fugitive"]
	path = vendor/nvim-plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vendor/nvim-plugins/nvim-cmp"]
	path = vendor/nvim-plugins/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "vendor/nvim-plugins/cmp-nvim-lsp"]
	path = vendor/nvim-plugins/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "vendor/nvim-plugins/cmp-buffer"]
	path = vendor/nvim-plugins/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "vendor/nvim-plugins/cmp-path"]
	path = vendor/nvim-plugins/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "vendor/nvim-plugins/luasnip"]
	path = vendor/nvim-plugins/luasnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "vendor/nvim-plugins/cmp_luasnip"]
	path = vendor/nvim-plugins/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "vendor/nvim-plugins/plenary.nvim"]
	path = vendor/nvim-plugins/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "vendor/nvim-plugins/telescope.nvim"]
	path = vendor/nvim-plugins/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "vendor/nvim-plugins/oil.nvim"]
	path = vendor/nvim-plugins/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "vendor/nvim-plugins/leap.nvim"]
	path = vendor/nvim-plugins/leap.nvim
	url = https://github.com/ggandor/leap.nvim.git
[submodule "vendor/nvim-plugins/which-key.nvim"]
	path = vendor/nvim-plugins/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "vendor/nvim-plugins/nvim-web-devicons"]
	path = vendor/nvim-plugins/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "vendor/nvim-plugins/vim-airline"]
	path = vendor/nvim-plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vendor/nvim-plugins/vim-airline-themes"]
	path = vendor/nvim-plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vendor/nvim-plugins/fzf"]
	path = vendor/nvim-plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vendor/nvim-plugins/fzf.vim"]
	path = vendor/nvim-plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vendor/nvim-plugins/vim-rooter"]
	path = vendor/nvim-plugins/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vendor/nvim-plugins/vim-pydocstring"]
	path = vendor/nvim-plugins/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "vendor/nvim-plugins/vim-pythonsense"]
	path = vendor/nvim-plugins/vim-pythonsense
	url = https://github.com/jeetsukumaran/vim-pythonsense.git
[submodule "vendor/nvim-plugins/vim-indent-object"]
	path = vendor/nvim-plugins/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vendor/nvim-plugins/vim-dispatch"]
	path = vendor/nvim-plugins/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vendor/nvim-plugins/vimtex"]
	path = vendor/nvim-plugins/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vendor/nvim-plugins/vim-autoformat"]
	path = vendor/nvim-plugins/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat.git
[submodule "vendor/nvim-plugins/friendly-snippets"]
	path = vendor/nvim-plugins/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "vendor/nvim-plugins/luasnip-latex-snippets.nvim"]
	path = vendor/nvim-plugins/luasnip-latex-snippets.nvim
	url = https://github.com/iurimateus/luasnip-latex-snippets.nvim.git
[submodule "vendor/nvim-plugins/telescope-media-files.nvim"]
	path = vendor/nvim-plugins/telescope-media-files.nvim
	url = https://github.com/nvim-telescope/telescope-media-files.nvim.git
[submodule "vendor/nvim-plugins/telescope-luasnip.nvim"]
	path = vendor/nvim-plugins/telescope-luasnip.nvim
	url = https://github.com/benfowler/telescope-luasnip.nvim.git
[submodule "vendor/nvim-plugins/nvim-treesitter"]
	path = vendor/nvim-plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "vendor/nvim-plugins/playground"]
	path = vendor/nvim-plugins/playground
	url = https://github.com/nvim-treesitter/playground.git
[submodule "vendor/nvim-plugins/nvim-treesitter-textobjects"]
	path = vendor/nvim-plugins/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "vendor/nvim-plugins/vim-repeat"]
	path = vendor/nvim-plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vendor/nvim-plugins/leap-ast.nvim"]
	path = vendor/nvim-plugins/leap-ast.nvim
	url = https://github.com/ggandor/leap-ast.nvim.git
[submodule "vendor/nvim-plugins/nvim-colorizer.lua"]
	path = vendor/nvim-plugins/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
[submodule "vendor/nvim-plugins/copilot.vim"]
	path = vendor/nvim-plugins/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "vendor/nvim-plugins/octo.nvim"]
	path = vendor/nvim-plugins/octo.nvim
	url = https://github.com/pwntester/octo.nvim.git
[submodule "vendor/nvim-plugins/cmp-git"]
	path = vendor/nvim-plugins/cmp-git
	url = https://github.com/petertriho/cmp-git.git
[submodule "vendor/nvim-plugins/orgmode"]
	path = vendor/nvim-plugins/orgmode
	url = https://github.com/nvim-orgmode/orgmode.git
[submodule "vendor/nvim-plugins/org-bullets.nvim"]
	path = vendor/nvim-plugins/org-bullets.nvim
	url = https://github.com/akinsho/org-bullets.nvim.git
[submodule "vendor/nvim-plugins/telescope-orgmode.nvim"]
	path = vendor/nvim-plugins/telescope-orgmode.nvim
	url = https://github.com/nvim-orgmode/telescope-orgmode.nvim.git
[submodule "vendor/nvim-plugins/vim-test"]
	path = vendor/nvim-plugins/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "vendor/nvim-plugins/auto-pairs"]
	path = vendor/nvim-plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vendor/nvim-plugins/tagbar"]
	path = vendor/nvim-plugins/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vendor/nvim-plugins/cmp-cmdline"]
	path = vendor/nvim-plugins/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
[submodule "vendor/nvim-plugins/neodev.nvim"]
	path = vendor/nvim-plugins/neodev.nvim
	url = https://github.com/folke/neodev.nvim.git
[submodule "vendor/nvim-plugins/vim-instant-markdown"]
	path = vendor/nvim-plugins/vim-instant-markdown
	url = https://github.com/instant-markdown/vim-instant-markdown.git
[submodule "vendor/nvim-plugins/jupytext.vim"]
	path = vendor/nvim-plugins/jupytext.vim
	url = https://github.com/goerz/jupytext.vim.git
[submodule "vendor/nvim-plugins/jupyter_ascending.vim"]
	path = vendor/nvim-plugins/jupyter_ascending.vim
	url = https://github.com/untitled-ai/jupyter_ascending.vim.git
[submodule "vendor/nvim-plugins/vim-polyglot"]
	path = vendor/nvim-plugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vendor/nvim-plugins/gruvbox-material"]
	path = vendor/nvim-plugins/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule "vendor/nvim-plugins/gruvbox"]
	path = vendor/nvim-plugins/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule "vendor/nvim-plugins/rainglow"]
	path = vendor/nvim-plugins/rainglow
	url = https://github.com/rainglow/vim.git
